<footer>
    <div class="container">
        <div class="d-flex py-2 d-flex justify-content-between">
            <div class="col-md-6 col-lg-3 my-2">
                <div class="card-body cardFooter">
                    <div class="d-flex justify-content-center">
                        <div class="roundIcon my-2">
                            <i class="fa-solid fa-phone-volume" style="color: #ffffff; font-size: 1.4rem;"></i>
                        </div>
                    </div>
                    <h4 class="card-title">Téléphone</h4>
                    <p class="card-text my-2">
                        Une question? Un renseignement? <br>
                        06 13 59 59 39
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-2 ">
                <div class="card-body cardFooter">
                    <div class="d-flex justify-content-center">
                        <div class="roundIcon my-2">
                            <i class="fa-regular fa-envelope" style="color: #ffffff; font-size: 1.5rem;"></i>
                        </div>
                    </div>
                    <h4 class="card-title">Adresse Mail</h4>
                    <p class="card-text my-2">Nous écrire à :<br>
                        longo-formation@hotmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-2">
                <div class="card-body cardFooter">
                    <div class="d-flex justify-content-center">
                        <div class="roundIcon my-2">
                            <i class="fa-solid fa-location-dot" style="color: #ffffff; font-size: 1.5rem;"></i>
                        </div>
                    </div>
                    <h4 class="card-title">Adresse</h4>
                    <p class="card-text my-2">58 Impasse de la croix <br>
                        01640 Saint-Jean-Le-Vieux
                    </p>
                </div>
            </div>
        </div>
{#        <section class="row mt-5 d-flex justify-content-between">#}
{#                <div class="form_contact col-lg-5 col-md-4 h-100">#}
{#                    {{ form_start(ContactFormType) }}#}
{#                    {{ form_row(ContactFormType.lastName) }}#}
{#                    {{ form_row(ContactFormType.firstName) }}#}
{#                    {{ form_row(ContactFormType.email) }}#}
{#                    {{ form_row(ContactFormType.formation) }}#}
{#                    {{ form_row(ContactFormType.comment) }}#}
{#                    <div class="d-flex justify-content-end align-items-end">#}
{#                        <button type="submit" class="btn btnSubmitForm ">Envoyer</button>#}
{#                    </div>#}
{#                    {{ form_end(ContactFormType) }}#}
{#                </div>#}
{#                <div class="col-lg-5 col-md-4 rounded">#}
{#                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11078.890073752149!2d5.396131153111385!3d46.036684949256504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b571a58799bc3%3A0xebd99a9f7ecc0dae!2s58%20Imp.%20de%20la%20Croix%2C%2001640%20Saint-Jean-le-Vieux!5e0!3m2!1sfr!2sfr!4v1682515148400!5m2!1sfr!2sfr"#}
{#                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"#}
{#                            referrerpolicy="no-referrer-when-downgrade">#}
{#                    </iframe>#}
{#                </div>#}
{#        </section>#}
    </div>
</footer>
