
<header>
    <img class="d-block m-auto" src="{{ asset("images/logoSite.png") }}" alt="Logo du site" width="auto" height="150">
    <nav class="navbar navbar-expand-lg colorBgNav">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-around col-12">
                    <li  class="nav-item d-block">
                    <a class="nav-link textWhite" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item d-block">
                        <a class="nav-link textWhite" aria-current="page" href="{{ path('app_formations') }}">Nos formations</a>
                    </li>
                    <li class="nav-item d-block">
                        <a class="nav-link textWhite" href="{{ path('app_contact') }}">Nous contacter</a>
                    </li>
                    <li class="nav-item d-block">
                        <a class="nav-link textWhite" href="{{ path('app_register') }}"><img class="p-lg-1 pt-0" src="{{ asset("images/avatar.png") }}" alt="Avatar" width="30" height="30">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
