{% extends 'base.html.twig' %}

{% block title %}Formations | Longo Formation{% endblock %}

{% block myContent %}
    <div class="container">
        <div>
            <img class="imgMannequin" src="{{ asset('build/images/mannequin.png') }}"
                 alt="Mannequin de formation au massage cardiaque"/>
        </div>

        <div class="title-container">
            <h1 class="text-center">
                Nos formations
            </h1>
        </div>


        <div class="row justify-content-between">

            <div class="col-md-5">
                <div class="card card-1">
                    <a class="linkForm" href="{{ path("app_formations_show", {'id': formations[0].id}) }}">{{ formations[0].title }}</a>
                    <a class="linkForm" href="{{ path("app_formations_show", {'id':formations[1].id}) }}">{{ formations[1].title }}</a>
                </div>
            </div>

            <div class="col-md-2">
                <div class="blockImgFormation imgFormation1">

                </div>
            </div>

            <div class="col-md-5">
                <div class="card card-2">
                    <a class="linkForm" href="{{ path("app_formations_show", {'id': formations[2].id}) }}">{{ formations[2].title }}</a>
                    <a class="linkForm" href="{{ path("app_formations_show", {'id':formations[3].id}) }}">{{ formations[3].title }}</a>
                </div>
            </div>


        </div>

        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="card card-3">
                    <a class="linkForm" href="{{ path("app_formations_show", {'id': formations[4].id}) }}">{{ formations[4].title }}</a>
                    <a class="linkForm" href="{{ path("app_formations_show", {'id':formations[5].id}) }}">{{ formations[5].title }}</a>
                </div>
            </div>

            <div class="col-md-2">
                <div class="blockImgFormation imgFormation2">
                </div>
            </div>

            <div class="col-md-5">
                <div class="card card-4">
                    <a class="linkForm" href="{{ path("app_formations_show", {'id': formations[6].id}) }}">{{ formations[6].title }}</a>
                    <a class="linkForm" href="{{ path("app_formations_show", {'id':formations[7].id}) }}">{{ formations[7].title }}</a>
                </div>
            </div>




        </div>
    </div>
{% endblock %}
