{% extends 'base.html.twig' %}

{% block title %}Formations | Longo Formation{% endblock %}

{% block myContent %}
    <div class="container">
        <div>
            <img class="imgMannequin" src="{{ asset('build/images/mannequin.png') }}"
                 alt="Mannequin de formation au massage cardiaque"/>
        </div>
        <div class="title-container">
            <h1 class="text-center">
                Nos formations
            </h1>
        </div>
        <div class="row justify-content-between">
            {% for category in categories %}
                {# on vérifie si la boucle est sur pair #}
                {% if loop.index is even %}
                    <div class="col-md-2">
                        {#  loop.index0 fait référence à l'index de l'élément actuel dans une boucle, commençant par 0. Ainsi, si loop.index0 est 0, 1 ou 2,
                         alors loop.index0 % 3 renverra respectivement 0, 1 ou 2.
                        Dans ce cas particulier, cette opération est utilisée pour sélectionner une image de fond dans une liste d'images en utilisant la syntaxe de template Twig.
                        L'expression {{ asset("build/images/img" ~ (loop.index0 % 3) ~ ".png") }}
                        renvoie un chemin vers une image dans un répertoire spécifique,
                        en utilisant l'indice de l'élément actuel pour sélectionner l'une des trois images disponibles.
                        La propriété CSS background-image utilise ensuite ce chemin pour définir l'image de fond pour l'élément en question. #}
                        <div class="blockImgFormation" style="
                                background-image: url({{ asset("build/images/img" ~ (loop.index0 % 3) ~ ".png") }});">
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-5">
                    <div class="card" style="background-image:
                            linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),
                            url({{ asset("build/images/" ~ category.image) }});">
                        {% for formation in category.formations %}
                            <a class="linkForm"
                               href="{{ path("app_formations_show", {'id': formation.id}) }}">{{ formation.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>


        {#        <div class="row justify-content-between"> #}

        {#            <div class="col-md-5"> #}
        {#                <div class="card card-1"> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id': formations[0].id}) }}">{{ formations[0].title }}</a> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id':formations[1].id}) }}">{{ formations[1].title }}</a> #}
        {#                </div> #}
        {#            </div> #}

        {#            <div class="col-md-2"> #}
        {#                <div class="blockImgFormation imgFormation1"> #}

        {#                </div> #}
        {#            </div> #}

        {#            <div class="col-md-5"> #}
        {#                <div class="card card-2"> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id': formations[2].id}) }}">{{ formations[2].title }}</a> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id':formations[3].id}) }}">{{ formations[3].title }}</a> #}
        {#                </div> #}
        {#            </div> #}


        {#        </div> #}

        {#        <div class="row justify-content-between"> #}
        {#            <div class="col-md-5"> #}
        {#                <div class="card card-3"> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id': formations[4].id}) }}">{{ formations[4].title }}</a> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id':formations[5].id}) }}">{{ formations[5].title }}</a> #}
        {#                </div> #}
        {#            </div> #}

        {#            <div class="col-md-2"> #}
        {#                <div class="blockImgFormation imgFormation2"> #}
        {#                </div> #}
        {#            </div> #}

        {#            <div class="col-md-5"> #}
        {#                <div class="card card-4"> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id': formations[6].id}) }}">{{ formations[6].title }}</a> #}
        {#                    <a class="linkForm" #}
        {#                       href="{{ path("app_formations_show", {'id':formations[7].id}) }}">{{ formations[7].title }}</a> #}
        {#                </div> #}
        {#            </div> #}


        {#        </div> #}
    </div>
{% endblock %}
