{% extends 'base.html.twig' %}

{% block title %}Contact | Longo Formation {% endblock %}

{% block myContent %}

    <div class="d-flex h-100 w-100">
        <div class="m-auto">
            <h1>Nous contacter</h1>
            <div class="form_contact container mt-4">
                {{ form_start(ContactFormType) }}
                    {{ form_row(ContactFormType.firstName) }}
                    {{ form_row(ContactFormType.lastName) }}
                    {{ form_row(ContactFormType.email) }}
                    {{ form_row(ContactFormType.formation) }}
                    {{ form_row(ContactFormType.comment) }}
                    <div class="d-flex justify-content-end align-items-end">
                        <button type="submit" class="btn btnSubmitForm2 ">Envoyer</button>
                    </div>
                {{ form_end(ContactFormType) }}
            </div>
        </div>
    </div>
{% endblock %}